.pay-pending-modal {
}
.pay-pending-modal .modal-dialog {
  max-width: 624px;
}
.pay-pending-modal h4 {
  font-family: IBMPlexSans-SemiBold;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Content/Primary */

  color: #203548;
  text-align: center;
}
.pay-pending-modal p {
  text-align: center;
}
.pay-pending-modal a {
  font-family: IBMPlexSans-SemiBold;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #2da84f;
}
.waiting-payment {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pending-content {
  padding: 20px;
}
