.pre-pay-modal {
}
.pre-pay-modal .modal-dialog {
  max-width: 624px;
}
.pre-pay-modal h4 {
  font-family: IBMPlexSans-SemiBold;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Content/Primary */

  color: #203548;
}
.pre-pay-modal a {
  font-family: IBMPlexSans-SemiBold;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #2da84f;
}
