.create-campaign {
  margin-top: 70px;
  margin-bottom: 20vh;
}
.create-campaign h4 {
  margin-top: 40px;
}
.campaign-cover {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 1px solid #ccc;
}
.campaign-cover-small {
  width: 40px;
  height: 40px;
}
.campaign-covers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cover-editor {
  padding: 20px 20px 20px 0;
  border-right: 1px dotted #ccc;
}
.smaller-images {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.smaller-images img {
  margin-top: 10px;
}
.image100 {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}
.image40 {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
